---

import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";

import data from "../data/site.yml";

const [intro, ...rest] = data.map(s => ({...s, name: s.title.toLowerCase()}));
---

<Layout title="Sacha Greif">
	<main>
		<Intro {...intro} index={0} />
		{
			rest.map((sectionData, index) => (
				<Section {...sectionData} index={index + 1}/>
			))
		}
		<Footer />
	</main>
</Layout>
