---
import Layout from "../layouts/Layout.astro";
import data from "../data/work-with-me.yml";
import LanguageSelector from "../components/work-with-me/LanguageSelector.astro";
import Block from "../components/work-with-me/Block.astro";
import Name from "../components/work-with-me/Name.astro";

const { name, intro, skills, projects } = data;
---

<Layout title="Sacha Greif | Work With Me">
  <div class="wrapper">
    <LanguageSelector />

    <main>
      <div class="top">
        <section class="name">
          <Name/>
          <!-- <Block id="name" contents={name.title} /> -->
        </section>

        <section class="intro">
          <Block id="intro" contents={intro.contents} />
        </section>
      </div>
      <section class="skills">
        {skills.map((skill) => <Block {...skill} variant="skill" />)}
      </section>

      <section class="projects">
        {projects.map((project) => <Block {...project} variant="project" />)}
      </section>
    </main>
  </div>
</Layout>

<style lang="scss">
  @import "../stylesheets/_breakpoints.scss";
  .wrapper {
    background: var(--orangered);

    @include small {
      padding: 10px 10px 10px 10px;
    }
    @include medium {
      padding: 20px 80px 20px 80px;
      min-height: 100vh;
    }
    @include large {
      padding: 40px 120px 40px 120px;
      min-height: 100vh;
    }
    display: grid;
    place-items: center;
  }
  main {
    background: var(--white);
    padding: var(--doublespacing);
  }
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--doublespacing);
    margin-bottom: var(--spacing);
  }
  section {
    // padding: 0 var(--doublespacing);
  }
  .intro {
    font-size: var(--largefont);
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--doublespacing);
  }
</style>
