---
import Layout from "../layouts/Layout.astro";
import data from "../data/work-with-me.yml";
import LanguageSelector from "../components/work-with-me/LanguageSelector.astro";
import Block from "../components/work-with-me/Block.astro";
import Name from "../components/work-with-me/Name.astro";
import Contact from "../components/work-with-me/Contact.astro";
import Heading from "../components/work-with-me/Heading.astro";

const { name, intro, skills, projects, other_projects } = data;
---

<Layout title="Sacha Greif | Work With Me">
  <div class="wrapper">
    <LanguageSelector />

    <main>
      <section class="top">
        <div class="section-inner">
          <Name />
          <Block id="intro" contents={intro.contents} variant="intro" />
        </div>
      </section>

      <section class="contact">
        <div class="section-inner"><Contact /></div>
      </section>

      <section class="skills">
        <!-- <Heading contents={skills.title} variant="level1" /> -->
        <div class="section-inner">
          {skills.items.map((skill) => <Block {...skill} variant="skill" />)}
        </div>
      </section>

      <section class="projects">
        <Heading contents={projects.title} variant="level1" />
        {
          projects.items.map((project) => (
            <Block {...project} variant="project" />
          ))
        }
      </section>

      <section class="other-projects">
        <Heading contents={other_projects.title} variant="level1" />
        <div class="section-inner">
          {
            other_projects.items.map((project) => (
              <Block {...project} variant="other-project" />
            ))
          }
        </div>
      </section>
    </main>
  </div>
</Layout>

<style lang="scss">
  @import "../stylesheets/_breakpoints.scss";
  .wrapper {
    background: var(--orangered);

    @include small {
      padding: 10px 10px 10px 10px;
    }
    @include medium {
      padding: 20px 80px 20px 80px;
      min-height: 100vh;
    }
    @include large {
      padding: 40px 120px 40px 120px;
      min-height: 100vh;
    }
    display: grid;
    place-items: center;
  }
  main {
    background: var(--white);
    @include small {
      padding: var(--halfspacing);
    }
    @include medium-large {
      padding: var(--doublespacing);
    }
  }
  .top {
  }
  section {
    @include small {
      margin-bottom: var(--spacing);
    }
    @include medium-large {
      margin-bottom: var(--doublespacing);
    }
  }
  .section-inner {
    @include medium-large {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: var(--doublespacing);
    }
  }
</style>
