---
import textures from "../data/textures.yaml";

const { name } = Astro.props;
const textureSvg = textures.find((t) => t.id === name)?.svg;
---

<div class="texture" set:html={textureSvg}></div>

<style lang="scss">
  .texture :global(svg) {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
</style>
