---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const { id, image, title, contents, variant = "" } = Astro.props;
---

<section class={`block block-${variant}`}>
  {
    image && (
      <div class="block-image">
        <img src={`/images/work-with-me/${image}`} />
      </div>
    )
  }

  <div class="block-contents">
    {title && <Heading contents={title} />}
    {contents && <Text contents={contents} />}
  </div>
</section>

<style lang="scss">
  @import "../../stylesheets/_breakpoints.scss";
  .block {
    // margin-bottom: var(--spacing);
    &-intro {
      @include small {
        font-size: var(--mediumfont);
      }
      @include medium-large {
        font-size: var(--largefont);
      }
      grid-column-start: 2;
      grid-column-end: 4;
      :global(strong) {
        color: var(--black);
        // background: linear-gradient(
        //   to right,
        //   var(--orangered),
        //   var(--black),
        // );
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }
    &-skill, &-other-project {
      @include small {
        margin-bottom: var(--spacing);
      }
    }
    &-project {
      @include medium-large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--doublespacing);
      }
      margin-bottom: var(--spacing);
    }
  }
  .block-image {
    img {
      display: block;
      width: 100%;
    }
    @include small {
      margin-bottom: var(--halfspacing);
    }
  }
  .block-contents {
    grid-column-start: 2;
    grid-column-end: 4;
    // padding: var(--doublespacing);
    :global(p) {
      margin-bottom: var(--halfspacing);
    }
    :global(p:last-child) {
      margin-bottom: 0;
    }
  }
</style>
