---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const { id, image, title, contents, variant = '' } = Astro.props;
---

<section class={`block block-${variant}`}>
  {
    image && (
      <div class="block-image">
        <img src={`/images/work-with-me/${image}`}/>
      </div>
    )
  }

  <div class="block-contents">
    {title && <Heading contents={title} />}
    {contents && <Text contents={contents} />}
  </div>
</section>

<style lang="scss">
  svg {
    polyline {
      stroke: red;
    }
  }
  .block {
    margin-bottom: var(--spacing);
    &-project {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: var(--doublespacing);
    }
  }
  .block-image {
    img {
      display: block;
      width: 100%;
    }
  }
  .block-contents {
    grid-column-start: 2;
    grid-column-end: 4;
    // padding: var(--doublespacing);
  }
</style>
