---
---

<input type="radio" id="en-US" checked name="language" /><label
  for="en-US"
  lang="en-US"
  >English
</label>
<input type="radio" id="ja-JP" name="language" /><label for="ja-JP" lang="ja-JP"
  >日本語
</label>

<style lang="scss">

</style>
