---
---

<input class="lang-input" type="radio" id="en-US" checked name="language" />
<input class="lang-input" type="radio" id="ja-JP" name="language" />
<div class="lang-selector">
  <label for="en-US" lang="en-US">English</label>
  <label for="ja-JP" lang="ja-JP">日本語</label>
</div>
<style lang="scss">
  @import "../../stylesheets/_breakpoints.scss";
  .lang-input {
    display: none;
  }
  .lang-selector {
    display: flex;
    gap: var(--halfspacing);
    margin-bottom: var(--halfspacing);
    width: 100%;
    @include small {
      justify-content: center;
    }
    @include medium-large {
      justify-content: flex-end;
    }
  }
  label {
    // transition: all 300ms ease-in;
    border-bottom: 0px solid var(--black);
    &:hover {
      color: var(--white);
      border-color: var(--white);
    }
  }
  input[type="radio"][id="en-US"]:checked ~ .lang-selector label[lang="en-US"] {
    border-bottom-width: 3px;
  }

  input[type="radio"][id="ja-JP"]:checked ~ .lang-selector label[lang="ja-JP"] {
    border-bottom-width: 3px;
  }
</style>
