---
import Markdown from "@astrojs/markdown-component";

const { contents } = Astro.props;
---

<div class="text">
  <div class="text-inner">
    {
      Object.keys(contents).map((lang) => (
        <div class="t" lang={lang}>
          <Markdown>{contents[lang]}</Markdown>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  .text {
    overflow: hidden;
  }
  .text-inner {
    width: 100%;
    display: flex;
    transition: all 300ms ease-out;
  }
  .t {
    flex-shrink: 0;
    width: 100%;
  }
  // :global(.block [lang="en-US"]) {
  //   display: block;
  // }
  // :global(.block [lang="ja-JP"]) {
  //   display: none;
  // }
  // :global(input[type="radio"][id="ja-JP"]:checked ~ .block [lang="en-US"]) {
  //   display: none;
  // }
  :global(input[type="radio"][id="ja-JP"]:checked ~ main .text-inner) {
    transform: translateX(-100%);
  }
</style>
